.no-js {
  #menu-toggle {
    display: none;
  }
}

.primary-nav {
  font-weight: $global-weight-medium;
  .row {
    &.column {
      &.primarynav-buffer {
        padding-right: 0;
        padding-left: 0;
        @include breakpoint(xlarge) {
          padding-right: rem-calc(50);  
          padding-left: rem-calc(50);
        }
        @include breakpoint(xxlarge) {
          padding-right: rem-calc(70); 
          padding-left: rem-calc(70);
        }      
      }
    }
  }
  h4 {
    font-size: inherit;
  }
  .button { 
    height: 2.5rem;
    width: 1.875rem;
    margin: $titlebar-icon-spacing;
    padding: 0.4375rem 0;
    transition: none;
    border-width: 0;
    border-radius: 0;
  }
  @include foundation-title-bar;
  .title-bar {
    min-height: 5rem;
    background: $titlebar-background;
    color: $titlebar-color;
    padding: $titlebar-padding;
    position: relative;
    z-index: 401;
    span {
      display: none;
      font-size: 1.375rem;
      padding-top: 0.2rem; 
      color: $white;
    }
  }   
  .toggle-icon {
    background: transparent icon(menu, $primary-color, 28, 24, 0, 0, 28, 24) no-repeat center center;       
    display: inline;  
    @media screen and (min-width: 400px) {
       margin-right: $gutter * 1.5;
    }    
  }   
  .search-icon {
    background: transparent; 
    display: inline;
    svg {
      width: 100%;
      height: 100%;
      color: $primary-color;
    }
  } 
}

// mobile nav
@include breakpoint(large down) {      
  .primary-nav {  
    position: relative;
    z-index: 400;
    font-size: rem-calc(18);
    .top-bar-right {
      text-transform: uppercase;
      &:not([style]) .menu {
        display: none;  // hide it on load before js kicks in and adds style attribute
      }
    }
    h4 {
      font-weight: inherit;
      margin-bottom: 0;
    }
    a {
      color: $fm-gray;          
      display: block;
      position: relative;
    }
    .menu {
      a {
        border-bottom: 1px solid transparentize($fm-gray, .5);
      }
    }
    .is-accordion-submenu-parent {
       > a {
        background: $medium-gray;
        color: $white;
        &::after {
          content: ' ';      
          height: 1rem;    
          width: 1rem; 
          display: inline-block;
          background: transparent icon(chevron-down, $white, 16, 16) no-repeat center center;
          position: absolute;
          top: 50%;
          margin-top: -0.5rem;
          right: $gutter;
          transition: background 0.2s ease 0s;
        }
      }
      &[aria-expanded='true'] {
        > a::after {
          background: transparent icon(chevron-up, $white, 16, 16) no-repeat center center;
        }    
      }
    }
    .logo-mobile { 
      padding: $gutter $gutter/2 0 $gutter * 1.5;
      display: inline-block;
      img {
        width: rem-calc(116);
        height: rem-calc(41);
      }
    } 
    .home-mobile { 
      padding: $gutter $gutter/2 0 $gutter * 1.5;
      display: none;
    }  
    .mf-mobile {
      a {
        background: scale-color($topbar-background, $lightness: -14%);
      }
    }
    .menu {
      background: scale-color($topbar-background, $lightness: -8%);
      letter-spacing: 1px;
      > li {
        background: $light-gray;
        > a { 
          padding: $gutter * 1.5;
          padding-bottom: ($gutter * 1.5) - 2px;
        }             
      }
      .nested {
        position: relative;
      }
    }     
    &.is-mobile-expanded[aria-expanded='true'] {
      .top-bar-right .menu { display: block;}
      .search-nav { display: none; }
      .title-bar {
        background: $primary-color none repeat scroll 0 0;
        color: $white;
        transition: background-color 0.2s ease 0s, background-image 0.2s ease 0s;
        span {
          display: inline-block;
        }
        .logo-mobile {
          display: none;
        }        
        .home-mobile { 
          display: inline-block;
        } 
        .search-icon {
          display: none;
        }
      } 
      .toggle-icon {
        background: transparent icon(menu-close, $white, 24, 24) no-repeat center center; 
      }      
    }
  }  
}

@include breakpoint(xlarge) {  
  .top-bar {    
    a {
      color: $fm-gray;
    }
    h4 {
      font-size: 1.125rem;
      font-weight: $global-weight-normal;
    }
    li.nav-accordion-parent {
      position: relative;
      display: table-cell;
      li:not(:last-child) {
        border-bottom: 1px solid lighten($fm-gray, 40%);
      }
    }
  }
  .logo-desktop {
      padding: 1.3125rem 0 1rem;
      display: inline-block;
      img {
        width: rem-calc(172);
        height: rem-calc(63);
      }
  }
  .primary-nav {  
    font-size: rem-calc(17); 
    font-weight: $global-weight-medium;
    border-width: 0;
    .menu:not(.nested) {
      display: table-cell;
      padding-top: 1rem;
      z-index: 496;
      text-transform: uppercase;
      letter-spacing: 1px;
      > li {
        padding: 0 1.4rem;     
        &:last-of-type {
          padding-right: 0;
        }              
        > a {
          padding: 2.125rem 0 2.375rem;
          border-bottom: 6px solid $white;
          line-height: 1;  
          @include nav-desktop-link();
        }         
      }
      &.nav-bus-section {
        padding-top: 0;
        > .nav-accordion-parent {
          padding-right: 0;
          padding-left: 0;      
          > a {
            padding-top: 3.125rem;
            padding-left: 1.375rem;
            padding-right: 1.25rem;            
            position: relative;
            z-index: 497;
            transition: color 0.2s ease 0s;
            &:focus  {
              color: $fm-orange; 
            }
          } 
          &[aria-expanded='true'] {
            box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.37);
          }
        } 
      } 
    }        
    .nested {
      letter-spacing: normal;
      min-width: rem-calc(250px);
      position: absolute;
      top: rem-calc(111);
      right: 0;
      width: rem-calc(250);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.37);
      z-index: 493;
      text-transform: none;
      > li > a {
        padding: 1.8rem 2rem 1rem;
      }
    }
    p {
      font-size: rem-calc(16);
      line-height: 1.3;
      font-weight: $global-weight-light;
    }
  }
} 


 
.primary-nav {  
  .menu:not(.nested) {
    > li {
      @media screen and (min-width: -zf-bp-to-em(map-get($breakpoints, xxlarge) - 200px)) {
        padding: 0 1.6rem; 
      } 
      @media screen and (min-width: -zf-bp-to-em(map-get($breakpoints, xxlarge) - 150px)) {
        padding: 0 1.75rem;
      }        
    }
  }
}





// .primarynav-buffer defined with page-layout
 