<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
</div>
<div class="top-bar" id="responsive-menu">
  <div class="top-bar-right">
    <ul class="menu vertical xlarge-horizontal no-bullet text-right" data-magellan data-auto-height="true" data-animate-height="true">       
      <li class="gutter-top"><a href="index.html#top" data-toggle="primary-nav main-nav" aria-label="toggle menu">home</a>
      </li>
      <li class=""><a href="index.html#our-work" data-toggle="primary-nav main-nav" aria-label="toggle menu">our work</a>
      </li>
      <li class=""><a href="index.html#our-services" data-toggle="primary-nav main-nav" aria-label="toggle menu">our services</a>
      </li>
      <li class=""><a href="index.html#about-us" data-toggle="primary-nav main-nav" aria-label="toggle menu">about us</a>
      </li>
      <li><a href="index.html#locations" data-toggle="primary-nav main-nav" aria-label="toggle menu">locations</a></li>
      <li class=""><a href="mailto:info@lombardexteriors.com" data-toggle="primary-nav main-nav" aria-label="toggle menu">contact us</a>
      </li>
    </ul>
  </div>
 </div>



<div class="primary-nav" id="primary-nav" data-toggler=".is-mobile-expanded" aria-expanded="false">
  <div class="row column primarynav-buffer" style="padding:0;"> 
    <div class="top-bar"> 
      <div class="title-bar" id="top-bar-title" data-hide-for="" data-responsive-toggle="">
        <div class="float-right company-menu">
          <button id="menu-toggle" class="toggle-icon button" type="button" data-toggle="primary-nav main-nav" aria-label="toggle menu"></button>
        </div>
      </div>
      <div class="float-center company-brand fade-in"><!--CREATE CLASS COMPANY-BRAND--></div>
      <nav class="top-bar-right company-nav" id="main-nav" role="navigation">  
        <!--ul was here-->
      </nav>
    </div>
  </div>
</div>