

<div class="primary-nav" id="primary-nav" data-toggler=".is-mobile-expanded" aria-expanded="false">
  <div class="row column primarynav-buffer" style="padding:0;"> 
    <div class="top-bar"> 
      <div class="title-bar" id="top-bar-title" data-hide-for="">
        <div class="float-right company-menu">
          <button id="menu-toggle" class="toggle-icon button" type="button" data-toggle="primary-nav main-nav" aria-label="toggle menu"></button>
        </div>
        
        <!--
        <div class="float-center" style="max-width:350px;">
          <a href="index.html" class="logo-mobile">
            <span>Lombard Exteriors</span>
            <img src="images/logo-lg.svg" class="nav-logo" alt="Lombard Exteriors" />
            
          </a>
        </div>
        <div class="float-center lombard-icon" style="max-width:350px;">
            <img class="no-border float-center" class="" src="images/logoFavicon.svg" alt="Lombard Exteriors">
        </div>
        -->
      </div>
      <div class="float-center company-brand fade-in">
          
        </div>
      <!--
      <div class="top-bar-left show-for-xlarge">
        <a href="/" class="logo-desktop"><img alt="Lombard Exteriors" src="images/logoFavicon.svg" class="no-border"></a>
      </div>
    -->
      <nav class="top-bar-right company-nav" id="main-nav" role="navigation">  
        <ul class="menu vertical xlarge-horizontal no-bullet text-right" data-magellan>       
            <li class="gutter-top"><a href="index.html#top" data-toggle="primary-nav main-nav" aria-label="toggle menu">home</a>
            </li>
          <li class=""><a href="index.html#our-work" data-toggle="primary-nav main-nav" aria-label="toggle menu">our work</a>
          </li>
          <li class=""><a href="index.html#our-services" data-toggle="primary-nav main-nav" aria-label="toggle menu">our services</a>
          </li>
          <li class=""><a href="index.html#about-us" data-toggle="primary-nav main-nav" aria-label="toggle menu">about us</a>
          </li>
          <li><a href="index.html#locations" data-toggle="primary-nav main-nav" aria-label="toggle menu">locations</a></li>
          <li class=""><a href="mailto:info@lombardexteriors.com" data-toggle="primary-nav main-nav" aria-label="toggle menu">contact us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>